@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */

}

.masonry {
  /* This will create a masonry-like effect using CSS columns */
  column-count: 4;
  column-gap: 1em;
}

.item {
  /* Prevents items from breaking across columns */
  break-inside: avoid;
  margin-bottom: 1em;
}

/* Optional media query to handle responsive layout */
@media (max-width: 768px) {
  .masonry {
    column-count: 2;
  }
}
